Repository bypameladaniel/SOEN341, pull requests merged in 2025-03, with the labels that each got.

#106 Issue #105: remove django allauth from the project and update requirements.txt
  backend/app/views.py
  backend/backend/settings.py
  backend/requirements.txt
Labels: bug, backend

#104 #9 and #19 Chat UI
  frontend/src/components/authentication/AuthAccess.tsx
  frontend/src/components/authentication/AuthForm.css
  frontend/src/components/authentication/AuthForm.tsx
  frontend/src/components/messaging/ChatArea.css
  frontend/src/components/messaging/ChatArea.tsx
  frontend/src/components/messaging/ChatInputTextBox.css
  frontend/src/components/messaging/ChatInputTextBox.tsx
  frontend/src/components/messaging/MessageBubble.css
  frontend/src/components/messaging/MessageBubble.tsx
Labels: frontend, task

#110 Issue #69: Implement API endpoint Delete Channel
  backend/channels/urls.py
  backend/channels/views.py
Labels: backend

#112 Removed the unnecessary duplicate for sidebar css and fixed the issue…
  frontend/src/components/Sidebar/DM-sidebar.tsx
  frontend/src/components/Sidebar/group-sidebar.css
  frontend/src/components/Sidebar/group-sidebar.tsx
  frontend/src/components/Sidebar/sidebar.css
Labels: frontend, task

#113 Issue #72: Implement Api Endpoint Add a Message to a Channel
  backend/channels/urls.py
  backend/channels/views.py
Labels: backend

#117 Issue #99: Link the frontend of profile page to backend
  backend/app/serializers.py
  backend/app/views.py
  backend/backend/urls.py
  frontend/src/components/authentication/AuthForm.tsx
  frontend/src/components/profile-page/profile.tsx
Labels: frontend, backend, Integration

#123 Issue #90: Create a new empty to start working on the direct messages…
  backend/direct_messages/__init__.py
  backend/direct_messages/admin.py
  backend/direct_messages/apps.py
  backend/direct_messages/migrations/__init__.py
  backend/direct_messages/models.py
  backend/direct_messages/tests.py
  backend/direct_messages/views.py
Labels: backend, task

#128 Issue #18: Adding the DirectMessage serializer that is connected to t…
  backend/direct_messages/serializers.py
Labels: backend

#150 149 indicator of who sent what message
  frontend/src/components/Sidebar/group-sidebar.tsx
  frontend/src/components/messaging/ChatArea.tsx
  frontend/src/components/messaging/MessageBubble.css
  frontend/src/components/messaging/MessageBubble.tsx
Labels: frontend, backend, task

#153 143 create websocket consumer for handling messages
  backend/app/consumers.py
  backend/app/routing.py
  backend/backend/asgi.py
  backend/backend/settings.py
  backend/channel/serializers.py
  backend/channel/urls.py
  backend/channel/views.py
  frontend/src/App.tsx
  frontend/src/components/Sidebar/group-sidebar.tsx
  frontend/src/components/messaging/ChatArea.tsx
Labels: frontend, backend, task

#133 Issue #122: Implement Api Endpoint Send Messages
  backend/app/__pycache__/__init__.cpython-313.pyc
  backend/app/__pycache__/admin.cpython-313.pyc
  backend/app/__pycache__/apps.cpython-313.pyc
  backend/app/__pycache__/models.cpython-313.pyc
  backend/app/__pycache__/urls.cpython-313.pyc
  backend/app/__pycache__/views.cpython-313.pyc
  backend/app/migrations/__pycache__/__init__.cpython-313.pyc
  backend/backend/__pycache__/__init__.cpython-313.pyc
  backend/backend/__pycache__/settings.cpython-313.pyc
  backend/backend/__pycache__/urls.cpython-313.pyc
  backend/backend/__pycache__/wsgi.cpython-313.pyc
  backend/backend/urls.py
  backend/direct_messages/migrations/0001_initial.py
  backend/direct_messages/serializers.py
  backend/direct_messages/urls.py
  backend/direct_messages/views.py
Labels: backend

#152 147 ensure proper layout when resizing window
  backend/app/consumers.py
  frontend/src/components/Sidebar/sidebar.css
  frontend/src/components/chat-page/chat.css
  frontend/src/components/messaging/ChatArea.css
  frontend/src/components/messaging/ChatInputTextBox.css
  frontend/src/components/messaging/MessageBubble.css
  frontend/src/index.css
Labels: frontend

#164 154 implement real time messaging for 1 1 conversations
  backend/app/consumers.py
  backend/direct_messages/migrations/0001_initial.py
  backend/direct_messages/urls.py
  backend/direct_messages/views.py
  frontend/src/App.tsx
  frontend/src/components/Sidebar/DM-sidebar.tsx
  frontend/src/components/Sidebar/group-sidebar.tsx
  frontend/src/components/chat-page/DirectChat.tsx
  frontend/src/components/messaging/ChatArea.tsx
  frontend/src/components/messaging/MessageBubble.css
Labels: frontend, backend, task

#168 Fixed the issue so that sockets are properly created and deleted when…
  frontend/src/components/messaging/ChatArea.tsx
Labels: frontend, task

#167 Issue #166 Update README.md for Core Feature 4
  README.md
Labels: documentation

#171 Implemented timestamp on messages for both direct messaging and messa…
  backend/app/consumers.py
  frontend/src/components/messaging/ChatArea.tsx
Labels: frontend, backend, task

#162 125 Implement the list conversations API endpoint
  backend/direct_messages/urls.py
  backend/direct_messages/views.py
Labels: backend

#175 Implemented the profile picture in the message bubble component for i…
  frontend/src/components/messaging/ChatArea.tsx
  frontend/src/components/messaging/MessageBubble.css
  frontend/src/components/messaging/MessageBubble.tsx
Labels: frontend, task

#183 Issue #179 Fixed profile picture update issue without refresh
  frontend/src/components/profile-page/profile.tsx
Labels: frontend, Integration
