Repository bypameladaniel/SOEN341, pull requests merged in 2025-02, with the labels that each got.

#27 Issue #24 : Update README to Include the New Languages and Frameworks Planned for Use
  README.md
Labels: documentation

#29 Issue #28: Update README to Reflect Transition from Flask to Django
  README.md
Labels: documentation

#30 Revert Issue #28: Update README to Reflect Transition from Flask to Django
  README.md
Labels: backend

#31 Update ReadMe to Reflect Transition from Flask to Django
  README.md
Labels: documentation

#41 Update the database choice in README
  README.md
Labels: documentation

#53 Issue #52: Set up virtual environment and add requirements.txt for consistent dependencies across all team members
  backend/requirements.txt
Labels: backend, 1 story point

#55 Create "channels" app
  backend/backend/settings.py
  backend/channels/__init__.py
  backend/channels/admin.py
  backend/channels/apps.py
  backend/channels/migrations/__init__.py
  backend/channels/models.py
  backend/channels/tests.py
  backend/channels/views.py
Labels: backend, 1 hour

#67 Issue #48: Create Serializers
  backend/app/serializers.py
  backend/channels/serializers.py
Labels: backend

#66 Issue #63: Implement Api Endpoint for List of Channels
  backend/app/__pycache__/__init__.cpython-313.pyc
  backend/app/__pycache__/admin.cpython-313.pyc
  backend/app/__pycache__/apps.cpython-313.pyc
  backend/app/__pycache__/models.cpython-313.pyc
  backend/app/__pycache__/urls.cpython-313.pyc
  backend/app/__pycache__/views.cpython-313.pyc
  backend/app/migrations/__pycache__/__init__.cpython-313.pyc
  backend/backend/__pycache__/__init__.cpython-313.pyc
  backend/backend/__pycache__/settings.cpython-313.pyc
  backend/backend/__pycache__/urls.cpython-313.pyc
  backend/backend/__pycache__/wsgi.cpython-313.pyc
  backend/backend/urls.py
  backend/channels/urls.py
  backend/channels/views.py
  backend/db.sqlite3
Labels: backend

#68 Issue #50: Implement API Endpoint to Join a Channel
  backend/.gitignore
  backend/backend/settings.py
  backend/channels/admin.py
  backend/channels/tests.py
  backend/channels/urls.py
  backend/channels/views.py
  backend/requirements.txt
Labels: backend

#80 Issue #73: Fix Issues and Improve API Endpoint for Listing Channels
  backend/backend/settings.py
  backend/backend/urls.py
  backend/channels/tests.py
  backend/channels/urls.py
  backend/channels/views.py
Labels: backend

#79 Issue #70: 70 implement api endpoint list messages in a channel
  backend/channels/serializers.py
  backend/channels/urls.py
  backend/channels/views.py
Labels: backend

#86 Issue #85 (BUG) : Fix Join Channel Endpoint with Authentication and Serialization
  backend/channels/tests.py
  backend/channels/views.py
Labels: bug, backend

#84 Designed the Settings page (#45) and Sidebars (#43 and #44)
  frontend/src/App.tsx
  frontend/src/components/Sidebar/DM-sidebar.css
  frontend/src/components/Sidebar/DM-sidebar.tsx
  frontend/src/components/Sidebar/group-sidebar.css
  frontend/src/components/Sidebar/group-sidebar.tsx
  frontend/src/components/layout.tsx
  frontend/src/components/profile-page/profile.css
  frontend/src/components/profile-page/profile.tsx
  frontend/src/components/settings-page/settings.css
  frontend/src/components/settings-page/settings.tsx
Labels: frontend

#78 77 create the chat area
  frontend/src/components/messaging/ChatArea.css
  frontend/src/components/messaging/ChatArea.tsx
  frontend/src/components/messaging/ChatInputTextBox.tsx
  frontend/src/components/messaging/MessageBubble.css
  frontend/src/components/messaging/MessageBubble.tsx
Labels: frontend, task

#93 Merge branch '23-design-and-implement-role-ui' into '46-home-page'
  frontend/src/App.tsx
  frontend/src/components/Sidebar/DM-sidebar.css
  frontend/src/components/Sidebar/DM-sidebar.tsx
  frontend/src/components/Sidebar/group-sidebar.css
  frontend/src/components/Sidebar/group-sidebar.tsx
  frontend/src/components/layout.tsx
  frontend/src/components/login-signup/LoginSignup.tsx
  frontend/src/components/profile-page/profile.css
  frontend/src/components/profile-page/profile.tsx
  frontend/src/components/settings-page/settings.css
  frontend/src/components/settings-page/settings.tsx
Labels: frontend

#103 Issue #71: Implement Api Endpoint to Delete a Message for Moderation
  backend/app/models.py
  backend/channels/models.py
  backend/channels/urls.py
  backend/channels/views.py
Labels: backend

#101 Issue #46 : Design a Home Page
  frontend/src/App.tsx
  frontend/src/components/Sidebar/DM-sidebar.tsx
  frontend/src/components/Sidebar/group-sidebar.tsx
  frontend/src/components/home-page/Home.css
  frontend/src/components/home-page/Home.tsx
  frontend/src/components/layout.tsx
  frontend/src/components/profile-page/profile.css
  frontend/src/components/profile-page/profile.tsx
  frontend/src/components/settings-page/settings.tsx
Labels: frontend
