Repository bypameladaniel/SOEN341, pull requests merged in 2025-04, with the labels that each got.

#185 184 profile picture not being properly retrieved from backend in chatarea
  frontend/src/components/messaging/ChatArea.tsx
Labels: frontend, backend, task

#194 189 fix the channel join create list tests
  backend/channel/tests.py
Labels: bug, test

#195 Issue #193: full tests for the message model's class
  backend/channel/tests.py
Labels: test

#198 Issue #197: Tiny mistake made while merging corrected
  backend/channel/tests.py
Labels: bug, test

#196 Issue #188: Registration test case
  backend/app/tests.py
Labels: backend, test

#199 190 logout test case
  README.md
  backend/app/tests.py
Labels: backend, task

#205 Issue #191: modify user test
  backend/app/tests.py
Labels: backend, test

#206 Issue #187: Create the List All Direct Messages Unit Test
  backend/direct_messages/tests.py
Labels: test

#209 192 send direct message test case
  backend/direct_messages/serializers.py
  backend/direct_messages/tests.py
  backend/direct_messages/views.py
Labels: test
